# Configuration de l'application
DB_HOST=db
DB_NAME=scores_db
DB_USER=scores_user
DB_PASS=scores_password
APP_URL=http://localhost:8080
APP_DEBUG=true
APP_KEY=changez_cette_cle_en_production_avec_une_chaine_aleatoire
